/* styles.css */
/* universal selector - Applies to whole document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* background: #fff; */
	color: #fff;
    font-family: 'Courier New', monospace;
}

table {
	table-layout: fixed;
}

td {
    text-align: center;
    align-items: center;
}

.enemy {
	width: 10vmax;
	height: 10vmax;
}

.icon-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    width: 8vmax;
    height: 8vmax;
}

.icon-button .icon {
    width: 6vmax;
    height: 6vmax;
    margin-right: 10px;
}

.icon-button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the image */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.titlelogo {
    width: 15vmax;
    height: 15vmax;
    margin-top: 30vh;
}

body{
    background-image: url('backgroundlandscape.webp');
    background-size: cover;
    background-position: center;
}

/* To center everything in game */
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.gameInterface{
    background: #3b3c36;
    text-align: center;
}

/* Title of the game */
.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}

.endScreen{
    background: #3b3c36;
	display: none;
}

.collection{
    background: #3b3c36;
    display: none;	
	margin-left: auto;
	margin-right: auto;
}

/* Gacha */
.gacha{
    background: #3b3c36;
    display: none;
    align-items: center;
    justify-content: center;
}

.fullGame{
	display: none;
	justify-content: center;
	align-items: center;
}

.gameOption{
	display: flex;
	justify-content: center;
	align-items: center;
}

.standardButton{
    background: #000;
}
.bigButton{
    background: #000;
	font-size: 4rem;
}

/* Score Board */
.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}

/* displaying three buttons in one line */
.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: green;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{ 
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
}